<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="DAHP2_WebSiteBanSach.pages.Site" %>
<%@ Register Src="~/pages/menu.ascx" TagPrefix="uc" TagName="Menu" %>
<%@ Register Src="~/pages/Slide.ascx" TagPrefix="uc" TagName="Slide" %>
<!DOCTYPE html>

<html>
<head runat="server">
    <title>Website Bán Sách</title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form runat="server">
        <asp:ScriptManager ID="ScriptManager1" runat="server"></asp:ScriptManager>
    <div id="menu">
        <uc:menu ID="Menu1" runat="server" />
    </div>
    <div id="Slide">
        <uc:Slide ID="slide" runat="server" />
    </div>
    <div id="contenner" style="display: flex;">
        <div style="width: 10%;"></div>
        <div style="width: 80%;">
            <asp:ContentPlaceHolder ID="MainContent" runat="server" />
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server" />
        </div>
        <div style="width: 10%;">
        </div>
    </div>

    <div id="footer">
        
    </div>
</form>
</body>
</html>
